@media(max-width:1480px) {
    .col-footer {
        font-size: 14px;
        line-height: 18px;
        padding-left: 45px;
        padding-right: 15px;
    }
    .col-footer-map, .col-footer-locale, .col-footer-space {
        background-size: 40px;
        min-height: 50px;
    }
    .col-footer span {
        display: block;
    }
    .container-form {
        padding: 0px 20px;
    }
    .btn_inscrit {
        font-size: 16px;
        padding: 5px 15px;
    }
    .titre_form {
        margin: 12px 10px;
        padding: 10px 15px 10px 15px;
        font-size: 25px;
        line-height: 28px;
    }
    .titre_form span {
        font-size: 14px;
        line-height: 16px;
    }
    .container-form .form-check {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .label_checkbox {
        padding-top: 0px;
        margin-bottom: 12px;
    }
    .container-form small {
        margin-bottom: 5px;
    }
    .contact_footer {
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
    .container-form .form-control {
        padding: 12px 13px;
        font-size: 14px;
        line-height: 16px;
        height: 35px;
    }
    .logo-right {
        padding: 10px 15px;
    }
    footer {
        padding: 15px 15px;
    }
    .titre-header {
        padding-top: 25px;
        padding-bottom: 0;
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .ticket-home img {
        max-width: 275px;
    }
    aside {
        padding-bottom: 20px !important;
    }
    article {
        padding: 25px !important;
    }
}
@media(max-width:1199px) {
    article {
        padding: 25px !important;
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .titre-header {
        padding-top: 15px;
    }
    .titre_form {
        font-size: 25px;
        line-height: 28px;
    }
    .titre_form span {
        font-size: 14px;
    }
    .container-form .custom-control-inline {
        margin-right: 15px;
        font-size: 14px;
    }
    .ticket-home img {
        max-width: 240px;
    }
    .col-footer span {
        display: inline;
    }
}
@media(max-width:991px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .col-footer-map, .col-footer-locale, .col-footer-space {
        background-size: 30px;
    }
    .col-footer {
        padding-left: 35px;
        padding-right: 10px;
        margin: 0 5px;
    }
    .titre_form {
        font-size: 20px;
        line-height: 24px;
    }
    .btn_inscrit {
        font-size: 20px;
        padding: 5px 15px;
    }
    .container-form {
        padding: 0px 15px;
    }
}
@media(max-width:767px) {
    .main {
        min-height: 100%;
    }
    article {
        padding: 45px 5px 10px 5px !important;
        background-image: url(assets/img/masque_responsive.jpg);
        background-size: 100% 80%;
        background-position: top center;
    }
    article:before {
        display: none;
    }
    header {
        margin-bottom: 70px;
        padding-left: 50px;
    }
    footer {
        background-color: #fff;
        padding: 30px 45px 0 54px;
        position: relative;
    }
    aside {
        max-width: none;
        padding-bottom: 45px !important;
    }
    .col-footer {
        padding-left: 60px;
        padding-right: 15px;
        margin: 0;
        margin-bottom: 55px;
        font-size: 18px;
        line-height: 24px;
    }
    .col-footer span {
        display: block;
    }
    .col-footer-tiret:after {
        display: none;
    }
    .col-footer-map, .col-footer-locale, .col-footer-space {
        background-size: contain;
    }
    .ticket-home {
        position: absolute;
        top: 40px;
        left: inherit;
        right: -10px;
    }
    .titre-header {
        padding-top: 35px;
        padding-right: 30px;
    }
    h1 {
        font-size: 75px;
        line-height: 70px;
    }
    h2 {
        font-size: 37px;
        line-height: 35px;
    }
    .logo-right {
        padding: 26px 15px 20px 15px;
    }
    .titre_form {
        font-size: 43px;
        line-height: 40px;
        margin: 30px 0 35px 0;
        padding: 10px 0 12px 0;
    }
    .titre_form span {
        font-size: 18px;
        line-height: 27px;
    }
    .contain_aside {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
    .btn_inscrit {
        font-size: 22px;
        padding: 8px 15px;
        margin-top: 15px;
    }
    .contact_footer {
        font-size: 26px;
        line-height: 30px;
        margin-top: 45px;
    }
    .row_footer {
        max-width: 400px;
        margin: 0 auto;
    }
}
@media(max-width:600px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
    footer {
        padding: 30px 15px 0 30px;
    }
    .col-footer-map, .col-footer-locale, .col-footer-space {
        background-size: 40px;
    }
    .ticket-home img {
        max-width: 190px;
    }
    .col-footer span {
        display: inline;
    }
}
@media(max-width:400px) {
    header {
        margin-bottom: 70px;
        padding-left: 15px;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    article {
        background-size: 150%;
    }
    .col-footer {
        padding: 60px 15px 0 15px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 24px;
    }
    .col-footer-map, .col-footer-locale, .col-footer-space {
        background-position: top center;
    }
    footer {
        padding: 30px 15px 0 15px;
    }
    .titre_form {
        font-size: 30px;
        line-height: 35px;
    }
    .titre_form span {
        font-size: 16px;
        line-height: 26px;
    }
    .ticket-home {
        display: none;
    }
}