/* You can add global styles to this file, and also import other style files */
/*-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
/* = Init CSS/*-------------------------------------------------*/
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #fff;
}
img {
    max-width: 100%;
}
article{
    max-width: 1240px;
    width: 100%;
    background-image: url("assets/img/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 46px !important;
    position: relative;
    overflow: hidden;
}
article::before{
    position: absolute;
    content: "";
    background-image: url(assets/img/bg_fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
aside{
    max-width: 360px;
    width: 100%;
    background-color: #003b1d;
    background-image: url(assets/img/bg_right.jpg);
    background-position: bottom center;
    background-repeat: repeat-x;
    padding-bottom: 30px !important;
}

.padding-0{
    padding: 0;
}
.main{
    min-height: 100vh;
}
.main-container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 74px;
    line-height: 68px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
h1 span {
    font-weight: 400;
}

h2 {
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 6px;
}
.titre-header{
    padding-top: 35px;
    padding-bottom: 10px;
}

footer{
    background-color: rgba(255,255,255,0.9);
    padding: 30px 38px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.col-footer{
    color: #003b1d;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 60px;
    position: relative;
    padding-top: 7px;
    margin: 0 10px;
}
.col-footer-map,.col-footer-locale,.col-footer-space{
    background-image: url(assets/img/ic_map.png);
    background-repeat: no-repeat;
    min-height: 60px;
}
.col-footer-locale{
    background-image: url(assets/img/ic_home.png);
}
.col-footer-space{
    background-image: url(assets/img/ic_2.png);
}
.col-footer span{
    display: block;
}
.col-footer strong{
    font-weight: 700;
}

.col-footer-tiret:after{
    background-color: #012513;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 2px;
    height: 50px;
}
.ticket-home {
    position: absolute;
    top: 40%;
    left: -10px;
    transform: rotate(-6deg);
    overflow: hidden;
}
.logo-right{
    background-image: url(assets/img/bg_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 15px;
    text-align: center;
}
.titre_form{
    margin: 30px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 23px 25px 18px 25px;
    color: #fff;
    font-size: 36px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.titre_form span{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.container-form{
    padding: 10px 20px;
}

.container-form .form-control {
    padding: 15px 13px;
    font-size: 16px;
    line-height: 16px;
    color: #0b1414;
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 40px;
}
.container-form .form-control::-webkit-input-placeholder,
.container-form .form-control::-moz-placeholder,
.container-form .form-control:-ms-input-placeholder,
.container-form .form-control::-ms-input-placeholder,
.container-form .form-control::placeholder{
    color:#0b1414 !important;
}
.container-form .form-group {
    margin-bottom: 5px;
}
.container-form small {
    color: #fff;
    text-align: right;
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.container-form .custom-control-inline {
    margin-right: 35px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #fff;
}
.container-form  input[type=checkbox] {
    width: 25px;
    height: 25px;
    border: none;
}
.container-form .form-check {
    padding-left: 0;
    display: flex;
    align-items: baseline;
}
.label_checkbox {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding-left: 15px;
    padding-top: 3px;
    margin-bottom: 35px;
    width: calc(100% - 25px);
}
.btn_inscrit{
    max-width: 174px;
    width: 100%;
    background-color: #ea0b2e;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    padding: 8px 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}
.mention_legal{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.contact_footer{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 28px;
    margin-top: 40px;
}
.contact_footer span{
    color: #fff;
    font-weight: 700;
    display: block;
}
/* Style bouton checkbox et radio */
.container_btn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input-checkbox:hover {
    background: #ffffff;
}
.option-input-checkbox:checked {
    background: #ffffff;
}
.option-input-checkbox:checked::before {
    height: 25px;
    width: 25px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: #358f6d;
}
.option-input-checkbox:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #358f6d;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.checkcontainer_radio {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radiobtn{
    position: absolute;
    top: 0;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
}
.checkcontainer_radio input[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    z-index: 5;
}
/* On mouse-over, add a grey background color */
.checkcontainer_radio:hover input ~ .radiobtn{
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer_radio input:checked ~ .radiobtn{
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer_radio input:checked ~ .radiobtn:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkcontainer_radio .radiobtn:after {
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #358f6d;
}
